<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-light my-5">
        <div class="card-body">
          <h2 class="card-title text-center py-3">{{ title }}</h2>
          <img width="300" alt="Angular Logo" src="../assets/images/dug-logo.png">
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/auth/login" class="btn btn-info">Login</a></li>
            <li class="list-inline-item"><a routerLink="/auth/register" class="btn btn-info">Register</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
